:root {
  --c-black: #000000;
  --c-white: #ffffff;
  --c-lgrey: #d3d3d3;
  --c-red: #ff6961;
  --c-green: #77dd77;
  --c-turquoise: #06aed5;
  --c-orange: #ee964b;
  --c-yellow: #f4d35e;
  --c-dblue: #023047;
  --c-blue: #219ebc;
  --c-lblue: #8ecae6;
  --topPadding: 50px;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: linear-gradient(-90deg, var(--c-dblue), var(--c-lblue))
}

main {
  width: 100%;
  padding-top: 20px;
}

header {
  color: var(--c-black);
  width: 100%;
  border-bottom: 5px solid rgb(250, 203, 74);
  background-image: linear-gradient(rgb(238, 192, 40) 0%,
      rgb(236, 216, 147) 100%);
}

aside h4+button {
  display: flex;
}

#action-submit-city {
  margin-bottom: 20px;
}

#historyList{
padding-left: 0px;
}

li {
  list-style: none;
  text-align: center;
  margin: 5px 10px;
  border: #000000;
  background-image: linear-gradient(rgb(238, 192, 40) 0%,
      rgb(236, 216, 147) 100%);
  ;
  border-radius: 50px;
  cursor: pointer

}

.custom-search-btn {
  background-color: #023047;
  border-color: var(--c-turquoise);
  border-width: 2px;
  text-align: center;
  text-justify: center;
}

#cityHelp{
  color: var(--c-white);
}


.custom-search-x {
  height: 30px;
  border-radius: 50% !important;
  font-size: 90%;
  padding-top: 2px;
  text-align: end;
}



.custom-search-btn:hover {
  background-color: var(--c-lblue);
  border-color: var(--c-turquoise);
  color: var(--c-black);
}

#currentWeather {
  border: 5px solid var(--c-white);
  margin-top: 20px;
  border-radius: 20px;
  background-color: rgb(243, 229, 171);
}

#currentWeatherHeader {
  padding-top: 20px;
  text-align: center;
  border-bottom: 2px solid var(--c-white);
  border-radius: 20px;
  padding-bottom: 20px;
  color: var(--c-white);
  background-image: linear-gradient(rgb(238, 192, 40) 0%,
      rgb(236, 216, 147) 100%);
  ;
}

#currentCityHeader {
  text-align: right;

}

#currentCityMain {
  justify-content: space-around;
  width: 100%;
  background-color: rgb(243, 229, 171)
}

#currentCityMain div {
  padding: 20px;
  text-align: center;
}

#currentCitySub {
  width: 100%;
  justify-content: space-around;
  padding: 5px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: rgb(243, 229, 171)
}


#futureWeather {
  margin-top: 5px;
  border: 5px solid var(--c-white);

  background-color: rgb(243, 229, 171);
  margin-top: 40px;
  border-top: none !important;
  border-radius: 20px;
}

#futureWeatherHeader {
  border-radius: 20px;
  padding-top: 20px;
  text-align: center;
  border-top: 2px solid var(--c-white);
  border-bottom: 2px solid var(--c-white);
  color: var(--c-white);
  background-image: linear-gradient(rgb(238, 192, 40) 0%,
      rgb(236, 216, 147) 100%);
  ;

  padding-bottom: 20px;
}

#prevsearchhistory {
  background-color: rgba(69, 150, 187, 0.3);
  padding-top: 10px;
  margin-top: 10px;


  
  border-radius: 20px;
}




#searchHeader {
  border-bottom: 2px solid black;
}

/* UV output */
.uv-low {
  color: var(--c-green);
  background-color: #000000;
  padding-right: 4.5px;
  padding-top: 4.5px;
  padding-bottom: 4.5px;
}

.uv-mod {
  color: #d8c626;
  background-color: #000000;
  margin: 2px;
  padding-right: 4.5px;
  padding-top: 4.5px;
  padding-bottom: 4.5px;
}

.uv-high {
  color: (--c-red);
  background-color: #000000;
  margin: 2px;
  padding-right: 4.5px;
  padding-top: 4.5px;
  padding-bottom: 4.5px;
  
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
}